.form {
  width: 500px;
  background-color: rgb(54, 122, 178);
  color: white;
  position: relative;
}
@media (max-width: 576px) {
  .form {
    width: 300px;
  }
  .radio {
    flex-direction: column;
    margin-left: 0 !important;
  }
}
.radio {
  margin: 0.5rem;
}
input {
  background-color: white;
  border: 2px solid #555;
  border-radius: 4px;
  color: black;
}
input:focus {
  border: 2px solid red;
  outline: none;
}

.Popup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.Popup-content {
  width: 80%;
  background-color: white;
  color: green;
  text-align: center;
  padding: 1.5rem;
  border-radius: 4px;
}
.Popup-content i {
  position: absolute;
  font-weight: 900;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 25px;
  height: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.Popup-content i:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

.disabled {
  background-color: gray !important;
}